<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a VetControl</h1>
    <ul>
        <li><a href="/clientes">Clientes</a><br></li>
        <li><a href="/productos">Productos</a><br></li>
        <li><a href="/proveedores">Proveedores</a><br></li>
        <li><a href="/compras">Compras</a><br></li>
        <li><a href="/ventas">Ventas</a><br></li>
    </ul>
</body>
</html>