{% extends "base.html" %}
{% block content %}

<h2>Proveedores</h2>

<form method="POST" class="mb-4">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input name="nombre" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Contacto</label>
        <input name="contacto" class="form-control">
    </div>

    <button class="btn btn-primary">Registrar Proveedor</button>
</form>

<hr>

<table class="table table-bordered">
    <tr>
        <th>ID</th><th>Nombre</th><th>Contacto</th><th></th>
    </tr>

    {% for p in proveedores %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.contacto }}</td>
        <td><a class="btn btn-danger btn-sm" href="/proveedores/eliminar/{{ p.id }}">Eliminar</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
