{% extends "base.html" %}
{% block content %}

<h2>Ventas (Resta Stock)</h2>

<form method="POST" class="mb-4">

    <div class="mb-3">
        <label class="form-label">Producto</label>
        <select name="producto_id" class="form-control">
            {% for p in productos %}
            <option value="{{ p.id }}">{{ p.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Cliente</label>
        <select name="cliente_id" class="form-control">
            {% for c in clientes %}
            <option value="{{ c.id }}">{{ c.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Cantidad</label>
        <input type="number" name="cantidad" class="form-control">
    </div>

    <button class="btn btn-success">Registrar Venta</button>
</form>

<hr>

<table class="table table-bordered">
    <tr>
        <th>ID</th><th>Producto</th><th>Cliente</th><th>Cantidad</th><th>Fecha</th>
    </tr>

    {% for v in ventas %}
    <tr>
        <td>{{ v.id }}</td>
        <td>{{ v.producto.nombre }}</td>
        <td>{{ v.cliente.nombre }}</td>
        <td>{{ v.cantidad }}</td>
        <td>{{ v.fecha }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
